.main {
  max-width: 700px;
  margin: 1rem auto 0 auto;
  padding: 0.5rem;
  padding-right: 1rem;
  text-align: justify;
}

.main > h2,
.main > h3,
.main > h4,
.main > h5,
.main > h6 {
  text-align: left;
  margin: 2rem 0;
}

.container {
  max-width: 1000px;
  padding-left: 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.sidebar {
  padding-top: 4.2rem;
  /* position: sticky; */
  /* top: 50px; */
  /* height: fit-content; */
}

.sidebar h4 {
  font-size: 1.3rem;
  margin: 2.2rem 0 1rem 0;
}

.sidebar a {
  display: block;
  font-family: "OPTIAgency-Gothic";
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
}

.sidebar a:hover {
  cursor: pointer;
  color: #006bc8;
}

.homeContent {
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  max-width: 1500px;
}
