.soundWaveBorder {
  position: absolute;
  top: -39px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.85;
}

.about {
  position: relative;
  border-width: 7px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(to right,  #34b4ff, #7a05f0 50%, #d7019a) 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
