.soundWaveBorder {
  position: absolute;
  top: -39px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.85;
  filter: hue-rotate(320deg);
}

.about {
  position: relative;
  border-width: 7px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(to right,  #00a496, #0538f0 50%, #ad00d8) 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
