.contact {
  background: linear-gradient(#00000080, #00000080), url("/img/blueaudio.jpg"); 
  background-size: cover;
  color: white;
  background-attachment: fixed;
}



.form {
  width: 100%;
  max-width: 700px;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-family: 'OPTIAgency-Gothic';
  margin: 0 auto;
}


.formControl {
  margin: 10px auto 1.5rem auto;
  width: 100%;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  padding-left: 10px;
}

.formControl:focus,
.form textarea:focus {
  background-color: #001b6d;
}

.form textarea {
  width: 100%;
  height: 150px;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 10px;
  letter-spacing: 0.05rem;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.3rem;
}


