.form {
  width: 100%;
  max-width: 800px;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.formControl {
  /* display: block; */
  margin: 10px auto 1.5rem auto;
  width: 100%;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  padding-left: 10px;
}

.formControl:focus,
.form textarea:focus {
  background-color: #001b6d;
}

.form textarea {
  width: 100%;
  height: 150px;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 10px;
  letter-spacing: 0.05rem;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.3rem;
}

.btn {
  letter-spacing: 5px;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0px 0px 5px 3px #0300b1;
  font-size: 100%;
  color: rgb(199, 199, 199);
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  box-shadow: 0px 0px 10px 5px #0300b1;
  color: white;
}
