.section {
  /* background-color: #080d42; */
  background-size: 100%;
  width: 100vw;
  padding: 3rem;
  background: radial-gradient(#080054bf 40%, #000000db);
}

.ulWrapper {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
}
