.intro {
  padding: 5rem 0 10rem 0;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.introWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  z-index: 2;
}

.lightBlue {
  position: absolute;
  background-color: #00a2ff30;
  border-radius: 50%;
  -webkit-filter: blur(80px);
  filter: blur(80px);
  width: 50rem;
  height: 35rem;
  z-index: -10;
  top: -5rem;
  left: -10rem;
}

.darkBlue {
  position: absolute;
  background-color: #5436fd30;
  left: 17rem;
  width: 50rem;
  height: 35rem;
  z-index: -11;
  top: 5rem;
  -webkit-filter: blur(80px);
  filter: blur(80px);
  border-radius: 50%;
}
.m32 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: opacity(0.7);
  filter: opacity(0.7);
  z-index: -1;
  margin-top: 3rem;
  margin-left: 2rem;
}

.h1 {
  letter-spacing: 0.25rem;
  font-size: 3.5rem;
  background: -webkit-linear-gradient(45deg, #34b4ff, #5436fd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 0;
}

.p {
  margin-top: -2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.815);
  padding: 3rem;
}

.textWrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 1.8rem;
  margin-top: 1rem;
  z-index: 999;
}

.logo {
  max-width: 450px;
  padding: 1rem;
  margin-top: -2rem;
}

.p,
.logo {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.403) 40%,
    #00000000 75%
  );
  background-position-x: 70%;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .p {
    width: 120%;
    left: -10%;
    position: relative;
  }
}
@media screen and (max-width: 400px) {
  .introWrapper {
    padding: 0;
  }
}
