.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem 0rem 6rem;
  min-height: 100vh;
  overflow-x: hidden;
}

.soundWaveBorder {
  position: absolute;
  top: 95px;
  opacity: 0.5;
}