.gated {
  z-index: 1;
  background: linear-gradient(
    #ffffff00,
    rgb(var(--background-end-rgb)) 50%,
    rgb(var(--background-end-rgb)) 90%,
    #ffffff00
  );
  height: 700px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 600px;
}

.gatedContent {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 970px;
  left: 0;
  z-index: 3;
  background: transparent;
}

.gatedContent a {
  text-decoration: underline;
  cursor: pointer;
}

.gatedContent span {
  font-family: "OPTIAgency-Gothic";
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  position: relative;
  top: 2rem;
}

.main {
  max-width: 700px;
  margin: 1rem auto 0 auto;
  padding: 0.5rem;
  padding-right: 1rem;
  text-align: justify;
  overflow-y: hidden;
  overflow-x: visible;
}

.preview {
  height: 700px;
}

.main > h2,
.main > h3,
.main > h4,
.main > h5,
.main > h6 {
  text-align: left;
  margin: 2rem 0;
}

.main h2 {
  scroll-margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .gated {
    height: 1000px;
    top: 800px;
  }
  .gatedContent {
    top: 1350px;
  }
  .preview {
    height: 1000px;
  }
}


@media screen and (max-width: 450px) {
 .gatedContent {
    top: 1350px;
  }
  .gated {
    top: 800px;

    background: linear-gradient(
      #ffffff00,
      rgb(var(--background-end-rgb)) 50%,
      rgb(var(--background-end-rgb)) 90%,
      #ffffff00
    );
  }
}
@media screen and (max-width: 375px) {
 .gatedContent {
    top: 1350px;
    padding: 1rem;
  }
  .gated{
    top: 850px;
  }
}