.wrapper {
  position: relative;
}

.hero {
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -10;
}
.titleWrapper {
  width: 100vw;
  background: linear-gradient(#00000064, #000000ec);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  padding: 5rem;
}

.title {
  max-width: 600px;
  text-align: center;
  margin-top: 1rem;
}
.title h1 {
  margin-bottom: 2rem;
}
.desc {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 2rem;
}

.desc:last-of-type {
  margin-bottom: 0;
}
