.nav {
  color: #d5d5d5;
  background: radial-gradient(#0300bbdb, #02006bdb);
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
  z-index: 10;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.soundRoots {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  position: relative;
  top: 0.25rem;
}
.mentorship {
  font-size: 1.5rem;
  margin-left: 0.6rem;
  position: relative;
  top: 0.2rem;
}
.linkWrapper,
.iconWrapper,
.rightWrapper {
  display: flex;
  align-items: center;
}
.hamburger {
  display: none;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.close {
  display: none;
}

.nav>ul {
  margin: 0 1rem 0 0;
  display: flex;
  align-items: center;
}
.navLink {
  display: inline-block;
  margin-right: 1rem;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}

.navIcon {
  position: relative;
  top: 0.1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
}
.icon {
  margin: 0.2rem;
}

.instagram {
  margin: 0.2rem;
  margin-top: 0.35rem;
}

.search {
  margin-left: 0.5rem;
}
.separator {
  margin-left: 0.5rem;
}

.icon:hover,
.search:hover,
.instagram:hover,
.navLink:hover,
.navIcon:hover {
  color: white;
  transform: scale(102%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .linkWrapper {
    /* display: none; */
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    background: radial-gradient(#0300bbdb, #02006bdb);
    width: 100vw;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .linkWrapper > ul {
    display: block;
  }
  .navLink {
    display: block;
    margin: 1rem;
    font-size: 1.2rem;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 499px) {
  .soundRoots {
    font-size: 0.6rem;
  }
  .mentorship {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  .leftWrapper {
    display: none;
  }
  .navWrapper {
    justify-content: right;
  }
}
