.wrapper {
  padding-top: 2.5rem;
  border-top: 1px solid rgb(0, 0, 0);
}

:global(.dark) .wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.574);
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}
.categoryWrapper {
  width: 100vw;
  max-width: 1400px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 3rem;
}

.btn {
  display: block;
  margin: 1rem auto 3rem auto;
  width: fit-content;
  font-size: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.599);
}